services:
  server:
    build:
      context: ./server
      dockerfile: dockerfile
    environment:
      PORT: 3000
      DATABASE_URL: "postgresql://<username>:<password>@<db-service-or-ip>:<port>/<db-name>"
      SECRET_KEY: "<YOUR-SECRET-FOR-TOKEN-GENERATION>"
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/etc/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
volumes:
 db-data: