services:
  server:
    build:
      context: ./server
      dockerfile: dockerfile
    restart: always
    ports:
      - "3000:3000"
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/etc/data
    ports:
      - "5432:5432"

volumes:
 db-data: