services:
  server:
    build:
      context: ./server
      dockerfile: dockerfile
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: sh -c "npx drizzle-kit migrate && npm run db:seed && npm run dev"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/etc/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
volumes:
 db-data: