version: '3.7'

services:
  server:
    image: caiquepiazz/run-faster-api:latest
    environment:
      PORT: 3000
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/postgres"
      SECRET_KEY: "043c9e9e44194fcad449b69d93d2c73164b25148382ba88c067f6fa7ca7dd2ea8"
    ports:
      - "3000:3000"
    depends_on:
      - db
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/etc/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
  visualizer:
    image: dockersamples/visualizer:latest
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      # O Visualizer precisa ser executado em um nó que tenha o Docker Swarm manager.
      # Para garantir que ele funcione, usei o constraint (restrição).
      placement:
        constraints:
          - node.role == manager
volumes:
  db-data: